/******************* CSS GENERICO *******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  background-image: url(/public/img/footer-bg.jpg);
  background-size: contain;
  position: relative;
  background-position: bottom;
}

body::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(10%);
  width: 500px;
  height: 500px;
  background: url('img/dc-logo-bg.png');
  background-size: cover;
  z-index: 1;
}