/******************* CSS GENERICO *******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  background-image: url(/public/img/footer-bg.jpg);
  background-size: contain;
  position: relative;
  background-position: bottom;
}

body::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(10%);
  width: 500px;
  height: 500px;
  background: url('img/dc-logo-bg.png');
  background-size: cover;
  z-index: 1;
}

/****************** CSS HEADER *********************/
header {
  display: flex;
  background-image: url('img/jumbotron.jpg');
  height: 22rem;
  z-index: 5;
  position: relative;
  background-size: cover;
}

header #logo {
  height: 5rem;
  margin-left: 230px;
  margin-top: 6px;
  background-color: white;
}

header nav {
  align-items: center;
  display: flex;
  z-index: 5;
  position: relative;
  background-color: white;
  width: 100%;
  height: 6rem;
}

header nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-left: 250px;
}

header nav a {
  text-decoration: none;
  color: rgb(44, 44, 44);
}

header nav a:hover {
  color: rgb(8, 97, 152);
}

.activeLink {
  border-bottom: solid 3px rgb(8, 97, 152);
  color: rgb(8, 97, 152);
}

/****************** CSS MAIN ********************/

.main-wrapper {
  width: 100%;
  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: start;
}

.title {
  display: inline-block;
  padding: 8px 18px;
  background-color: #0c7cec;
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 295px;
}


.top-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 35px;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  background-color: black;
  justify-content: center;
}

.top-container h3 {
  grid-column: 1 / -1;
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.comic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.comic-card .image-wrapper {
  position: relative;
  width: 100%;
}

.comic-card .image-wrapper::before {
  content: "";
  display: block;
  padding-top: 130%;
}

.comic-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.comic-card h4 {
  color: white;
}

.top-container .load-more {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 10px;
}


.load-more button {
  background-color: rgb(8, 97, 152);
  color: white;
  padding: 10px 40px;
  border: solid rgb(8, 97, 152);
}


.bottom-container {
  background-color: rgb(8, 97, 152);
  position: relative;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 5;
  width: 100%;
}

.bottom-container ul {
  gap: 1rem;
  list-style: none;
  color: white;
  display: flex;
}

.bottom-container li {
  align-items: center;
  gap: 10px;
  display: flex;
}

.bottom-container #img1,
.bottom-container #img2,
.bottom-container #img3,
.bottom-container #img4,
.bottom-container #img5 {
  height: 3rem;
}

*/

/****************** CSS FOOTER *******************/
.footer-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: start;
  gap: 80px;
  padding: 40px 0;
  z-index: 5;
  margin-left: 230px;
}

.footer-top ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-top li {
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.footer-top a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.footer-top ul h3 {
  color: white;
}

.footer-bottom {
  height: 6rem;
  background-color: #353535;
  z-index: 5;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
}


.footer-bottom button {
  color: white;
  background-color: #353535;
  border: solid 4px rgb(8, 97, 152);
  padding: 8px;
  margin-left: 230px;
}

.footer-bottom h3 {
  color: rgb(8, 97, 152);
  margin-left: 540px;
  padding-right: 60px;
}

.footer-bottom #foot1,
.footer-bottom #foot2,
.footer-bottom #foot3,
.footer-bottom #foot4,
.footer-bottom #foot5 {
  padding: 7px;


}